{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
			<div class="box-element">
				<a class="btn btn-outline-dark checkout" href="{% url 'products' %}">&#x2190; Continue Shopping</a>
                <a class="btn btn-success checkout" href="#">Checkout</a>
			</div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        {{ bag_items }}
                        <div style="flex:2"></div>
					    <div style="flex:2"><strong></strong></div>
					    <div style="flex:1"><strong></strong></div>
					    <div style="flex:1"><strong></strong></div>
					    <div style="flex:1"><strong></strong></div>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}