{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col text-center text-uppercase">
         <h2 class="mt-3">Contact</h2>
         <hr class="w-50 my-4">
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-12 col-md-6 mb-5">
            <h4 class="mb-4 text-uppercase">Contact us</h4>
            <p class="font-weight-bold">Phone: 01 120 1212</p>
            <p class="font-weight-bold">Email: maevesbags@gmail.com</p>
            <p>Follow us on Social Media:</p>
            <ul class="social-networks unordered">
                <li class="list">
                    <a href="https://www.facebook.com/Maeves-Bags-101835905842056" target="_blank" rel="noopener" class="menu"
                    aria-label="Visit our Facebook page (opens in a new tab"><i class="fab fa-facebook"></i></a>
                </li>
                <li class="list">
                    <a href="https://www.twitter.com" target="_blank" rel="noopener" class="menu"
                    aria-label="Visit our Twitter page (opens in a new tab"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li class="list">
                    <a href="https://www.youtube.com" target="_blank" rel="noopener" class="menu"
                    aria-label="Visit our YouTube page (opens in a new tab"><i class="fab fa-youtube-square"></i></a>
                </li>
                <li class="list">
                    <a href="https://www.instagram.com" target="_blank" rel="noopener" class="menu"
                    aria-label="Visit our Instagram page (opens in a new tab"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
        <br>
        <div class="col-lg-4 offset-lg-1 col-md-6 col-sm-12 pt-3 px-4 center-text-medium">
            <p class="title-text text-white text-uppercase">Stay up to date with the Tarmachan</p>
            <hr class="text-white">
            <p class="content-text text-white">Be the first to know about exclusive offers and news stories from Tarmachan. Simply enter your email below.</p>
            <form method="POST" action="{% url 'newsletter_register' %}" class="form mb-2 content-text">
              {% csrf_token %}
              {{ newsletter_form|crispy }}
              <div class="mb-2">
                  <button class="btn content-text subscribe-button text-uppercase fs-6 mb-2">Subscribe</button>
              </div>
            </form>
            <p class="content-text text-white">To unsubscribe, please click <a href="{% url 'newsletter_unsubscribe' %}" class="unstyled-color text-white"><strong>here.</strong></a></p>
          </div>
        <!--Contact form-->
        <div class="col-12 col-md-6 form-bg p-3">
            <h4 class="mb-4 text-uppercase">Message us</h4>
            <form action="{% url 'contact' %}" method="POST" class="form-group">
                {% csrf_token %}
                {{ contact_form|crispy }}
                <a class="btn btn-outline-dark checkout" href="{% url 'products' %}">&#x2190; Continue Shopping</a>
                <button id="submit-button" class="btn btn-lg btn-purple">
                    <span class="btn btn-success">Send message</span>
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}